* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color:#222;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: 320px;
}

.content_text {
	font-weight: bold;
	font-size: 5em;
	color: #fff;
}

video {
	width: 100%;
	height: 100%;
}

.moving-car {
	position: absolute;
	left: -500px;
	width: auto;
	height: 100px;
	-webkit-animation: moving-car 2s forwards;
	-webkit-animation-delay: 2s;
	animation: moving-car 2s forwards;
	animation-delay: 2s;
    bottom: 40px;
}

.car-logo {
    right: 20px;
    position: fixed;
    width: 150px;
    -webkit-animation: car-logo 2s forwards;
    -webkit-animation-delay: 3s;
    animation: car-logo 2s forwards;
    animation-delay: 3s;
    opacity: 0;
    bottom: 40px;
}

@-webkit-keyframes car-logo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes car-logo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes moving-car {
    0% {
        left: -10%;
    }
	100% {
        left: calc(100% - 620px);
    }
}

@keyframes moving-car {
    0% {
        left: -10%;
    }
    100% {
        left: calc(100% - 620px);
    }
}

.overlay {
    position: fixed;
    height: 200px;
    width: 100%;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#earth_div {
    width: 300px;
    position: absolute !important;
}

.cesium-credit-textContainer{
    display: none;
}

.map {
    position: fixed;
    bottom: 170px;
    left: calc(100% - 280px);
}

.image {
    position: fixed;
    bottom: 10px;
    left: calc(100% - 250px);
    height: 200px;
    z-index: 100;
}